@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEBUG TEST */
body {
  background: pink !important;
}

/* Responsive layout */
@media (max-width: 1024px) {
  .desktop-only { display: none !important; }
  .main-padding { padding-top: 56px; padding-bottom: 64px; }
}

@media (min-width: 1025px) {
  .mobile-only { display: none !important; }
  .main-padding { padding-top: 0; padding-bottom: 0; }
}